__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

outputs/
!scripts/rsl_rl/logs/
scripts/rsl_rl/logs/*

!scripts/rsl_rl/logs/rsl_rl/
scripts/rsl_rl/logs/rsl_rl/*

!scripts/rsl_rl/logs/rsl_rl/g1_residual_whole/
scripts/rsl_rl/logs/rsl_rl/g1_residual_whole/*

!scripts/rsl_rl/logs/rsl_rl/g1_residual_whole/checkpoint_new_usd/
!scripts/rsl_rl/logs/rsl_rl/g1_residual_whole/checkpoint_new_usd/**
!scripts/rsl_rl/logs/rsl_rl/g1_residual_whole/checkpoint_old_usd/
!scripts/rsl_rl/logs/rsl_rl/g1_residual_whole/checkpoint_old_usd/**